<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.chores"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/choresmonger" android:label="@string/app_name" android:debuggable="true">
  
        <activity android:name=".WelcomeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<activity android:name="SignUpFamilyActivity"></activity>
<activity android:name="SignInActivity"></activity>
<activity android:name="AcceptInvitationActivity"></activity>
<activity android:name="LostPasswordActivity"></activity>
<activity android:name="SignUPFamilyMemberActivity"></activity>
<activity android:name="AddNewFamilyMember"></activity>
<activity android:name="MainMenuActivity"></activity>
<activity android:name="RewardsCenterActivity"></activity>
<activity android:name="MyRewardsActivity"></activity>
<activity android:name="RewardDetailsActivity"></activity>
<activity android:name="RewardManagementActivity"></activity>
<activity android:name="EditRewardActivity"></activity>
<activity android:name="CreateNewRewardActivity"></activity>
</application>
    <uses-sdk android:minSdkVersion="8" />

<uses-permission android:name="android.permisssion.INTERNET">
</uses-permission>
</manifest> 